version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    env_file: .env
    environment:
      POSTGRES_USER: ${postgres}
      POSTGRES_PASSWORD: ${postgres}
      POSTGRES_DB: ${book_db}
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

  api:
    build: .
    container_name: fastapi-app
    restart: always
    env_file: .env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  postgres_data:
  redis_data:
